@import 'bootstrap';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext');

$highlight-color: #fb0000;
$white: #fff;
$light-grey: #f7f7f7;

@font-face {
  font-family: 'JournalRegular';
  font-weight: normal;
  src: url('../fonts/journal.ttf');
}


body {
  background-color: $white;
  color: #3c3c3c;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

section {
  background: $white;
}

ul {
  -webkit-padding-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

p {
  color: #464646;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0 0 25px;
}

.sub-text {
  border-left: 1px dotted $highlight-color;
  padding-left: 20px;
}

td {
  padding: 2px !important;
}

iframe {
  border: 0 !important;
  outline: 0 !important;
}

.detailed-text {
  background: $light-grey;
  border: 1px dotted $highlight-color;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #3c3c3c;
  overflow: hidden;
  padding: 0 6px;
}

.detailed {
  background: #fdfdfd;
  border: 2px solid $light-grey;
  border-radius: 3px;
  padding: 14px 20px;
  width: 100%;

  .fa {
    font-size: 18px;
    margin: 0 3px;
  }

  span {
    float: right;
  }

  b {
    color: $highlight-color;
  }
}

.sub-title {
  margin-bottom: 46px;

  @media (min-width: 767px) {
    &:before {
      background: $highlight-color;
      content: '';
      display: block;
      height: 2px;
      margin-top: 55px;
      position: absolute;
      width: 40px;
    }
  }
}

embed {
  outline: 0 !important;
}

a {
  color: $highlight-color;
  -webkit-font-smoothing: subpixel-antialiased;
  outline: 0 !important;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    color: $highlight-color;
    text-decoration: none;
  }
}

.font-light {
  font-weight: 400;
}

.font-bold {
  font-weight: bold;
}

.text-dark {
  color: #464646 !important;
}

.text-light {
  color: $white !important;
}

.text-color {
  color: $highlight-color !important;
}

.dark {
  background: #2b2b2b;
  border-color: $white;
  color: $white;
}

.light {
  background: $white;
  border-color: #2b2b2b;
  color: #2b2b2b;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}

::-moz-selection,
::selection {
  background: rgba(204, 204, 204, .3);
  text-shadow: none;
}

img {
  &::selection,
  &::-moz-selection {
    background: 0;
  }
}

.navbar {
  background-color: $white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}

.navbar-brand {
  font-weight: 700;

  .fa {
    margin: 0 2px;
  }

  &:focus {
    outline: 0;
  }
}

.navbar-custom {
  a {
    color: #333;
  }

  .nav li {
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

    a {
      border-bottom: 2px solid;
      border-color: transparent;
      font-weight: bold;
      margin: 0 14px;
      padding-left: 2px !important;
      padding-right: 2px !important;

      &:hover,
      &:focus {
        background: none;
        border-bottom: 2px solid $highlight-color;
        color: $highlight-color;
        outline: 0;
      }

      @media (max-width: 767px) {
        border-bottom: 0 !important;
      }
    }

    &.active a {
      background: none;
      border-bottom: 2px solid $highlight-color;
      color: $highlight-color;
      outline: 0;
    }
  }
}

.navbar-toggle {
  color: #333;
  font-size: 16px;
  padding: 4px 6px;
  -moz-transition: background .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;

  &:focus,
  &:active {
    outline: 0;
  }

  &:hover {
    color: $highlight-color;
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
}

@media (min-width: 767px) {
  .navbar {
    background: 0;
    border-bottom: 0;
    letter-spacing: 1px;
    padding: 20px 0;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    background-color: $white;
    -moz-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, .1);
    -webkit-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, .1);
    box-shadow: 0 2px 3px 0 rgba(50, 50, 50, .1);
    padding: 0;
  }
}

#intro {
  background-blend-mode: lighten;
  background-image: url("../img/video-img.jpg");
  height: 1080px;
  padding-top: 80px;

  @media (min-width: 767px) {
    padding-top: 150px;
  }


  h1 {
    color: #3c3c3c;
    font-size: 86px;
    font-weight: 600;
    margin: 20px 0 30px;
    text-transform: uppercase;

    .font-light {
      font-weight: 200;
    }

    @media (max-width: 430px) {
      font-size: 46px;
      margin: 0 0 30px;
    }

    @media (max-width: 767px) {
      font-size: 56px;
      font-weight: 600;
      margin: 100px 0 30px;
      text-transform: uppercase;
    }
  }
}

.video-content {
  max-height: 1100px;
  min-height: 1100px;
  overflow: hidden;
  position: relative;

  img {
    display: table;
    margin: 0 auto 50px;
  }

  @media (max-width: 1012px) {
    max-height: 1080px;
    min-height: 1080px;
  }
}

.more {
  background: $white;
  border-radius: 50%;
  bottom: 0;
  display: inline-block;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: relative;
  text-align: center;
  width: 100px;
  z-index: 100;

  a {
    color: #333;
    font-size: 36px;
    line-height: 86px;

    &:hover {
      color: $highlight-color;
      text-decoration: none;
    }
  }
}

.movie-avatar {
  background: url('../img/movie-avatar-bg.png') no-repeat top left;
  height: 518px;
  margin-bottom: 25px;
  padding-left: 3px;
  padding-top: 3px;
  position: relative;
  width: 383px;
}

.movie-avatar-img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 512px;
  overflow: hidden;
  width: 370px;

  &:before {
    background: url('../img/movie-avatar-img-glare.png') no-repeat top left;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 96%;
    z-index: 999;
  }
}

@media (max-width: 420px) {
  .movie-avatar,
  .movie-avatar-img {
    max-width: 100%;
  }
}

h1.section-title {
  font-size: 48px;
  margin-bottom: 92px;
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;

  &:after {
    background: $highlight-color;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -20px;
    margin-top: 26px;
    position: relative;
    width: 40px;
  }
}

#about {
  padding-bottom: 50px;

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 26px;
  }
}

#about-sub {
  background: $light-grey;
  padding-bottom: 36px;
  padding-top: 40px;

  .feature-list {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 0;

    li {
      margin-bottom: 18px;

      .fa {
        margin-right: 16px;
        vertical-align: inherit;
      }
    }
  }
}

#counters {
  margin-top: 32px;
  padding-left: 16px;
}

.counters {
  list-style: none;
  padding-left: 2px;

  li {
    display: block;
    float: left;
    margin-bottom: 20px;
    padding-left: 32px;
    padding-right: 40px;
    padding-top: 10px;
    position: relative;

    span {
      font-size: 48px;
      font-weight: 600;
    }

    &:before {
      background: #dadada;
      border-radius: 2px;
      content: '';
      height: 100%;
      left: 2px;
      position: absolute;
      top: 12px;
      width: 1px;
    }

    &:after {
      background: $highlight-color;
      border-radius: 3px;
      content: '';
      display: inline-block;
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }

    h5 {
      margin-bottom: 0;
    }

    @media (max-width: 640px) {
      float: none !important;
      padding: 0 32px;
      text-align: center;
    }
  }
}

#features {
  padding: 65px 0;
}

#expand-counters {
  margin-bottom: 35px;
}

.features-wrap {
  padding: 0;

  li {
    list-style: none;
    margin-top: 25px;
  }

  h6 {
    font-size: 18px;
    font-weight: 400;
  }

  div {
    border: 2px solid $light-grey;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    position: relative;
    width: 100%;

    span {
      display: table;
      height: 3px;
      position: relative;

      em {
        background: $light-grey;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #757575;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        padding: 2px 6px;
        position: absolute;
        right: 0;
        top: -45px;
      }

      &:before {
        background: $highlight-color;
        content: '';
        height: 18px;
        position: absolute;
        right: 0;
        top: -7px;
        width: 2px;
      }

      &:after {
        border-color: transparent $highlight-color transparent transparent;
        border-style: solid;
        border-width: 7.5px 7px 7.5px 0;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: -5px;
        width: 0;
      }
    }

    &:before {
      background: $highlight-color;
      content: '';
      height: 15px;
      left: 2px;
      position: absolute;
      top: -2px;
      width: 2px;
    }
  }
}

.expand {
  background: $highlight-color;
  position: absolute;
}

.expand-1,
.expand-2,
.expand-3,
.expand-4 {
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  width: 0;
}

.panel-default > .panel-heading {
  background: none;
  background-color: #fdfdfd;
  border-color: $light-grey;
  color: #3c3c3c;

  a {
    display: inline-block;
    width: 100%;
  }

  + .panel-collapse .panel-body {
    background: $white;
    border-top: 2px solid $light-grey;
    color: #aaa;
  }
}

.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-group .panel {
  background-color: none;
  border: 2px solid $light-grey;
  border-radius: 3px;
}

.panel {
  background: none;
  box-shadow: none;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 2px solid $light-grey;
}

.panel-title span {
  float: right;
}

.embed-responsive iframe {
  min-height: 490px;
  width: 100%;

  @media (max-width: 640px) {
    min-height: 320px;
    width: 100%;
  }
}

#actors {
  padding: 60px 0 0;

  .owl-carousel {
    padding-bottom: 30px;
  }
}

.actor {
  background: none;
  position: relative;

  img {
    height: auto;
    width: 100%;
  }

  .details {
    background: $light-grey;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #3c3c3c;
    height: 0;
    left: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    overflow: hidden;
    padding: 20px 20px 25px;
    position: absolute;
    text-align: center;
    top: 0;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width: 100%;

    .fa {
      font-size: 18px;
      margin: 0 2px;
    }
  }

  .social {
    margin: 50% auto 0;
    overflow: hidden;
    padding-bottom: 20px;
    text-align: center;

    > li {
      display: inline-block;
      margin-right: -4px;

      > a {
        border: 2px solid #d5d5d5;
        border-radius: 100px;
        color: #3c3c3c;
        display: block;
        font-size: 18px;
        height: 46px;
        line-height: 44px;
        margin: 0 8px;
        width: 46px;

        &:hover {
          background: none repeat scroll 0 0 $white;
          color: $highlight-color;
        }
      }
    }
  }
}

.avatar {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  overflow: hidden;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.item:hover {
  .avatar {
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }

  .details {
    height: 100%;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 10;
  }

  .actor-info {
    border-color: $highlight-color;
  }
}

.actor-info {
  background: $light-grey;
  border-bottom: 2px solid $light-grey;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0 18px;
  position: relative;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;

  .heading {
    color: #3c3c3c;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
  }

  .sub-heading {
    color: #464646;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
  }
}

.advantages {
  background: $light-grey;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.advantages-item {
  padding: 20px 15px;
  text-align: center;

  h3:before {
    color: $highlight-color;
    content: '//';
    margin-right: 15px;
    position: relative;
    z-index: 1;
  }

  .advantages-item-icon {
    font-size: 56px;
  }

  .fa {
    margin: 0 4px;
  }
}

.section-sub-title {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;


  &:before {
    background: $highlight-color;
    content: '';
    height: 1px;
    left: 50%;
    margin-left: -80px;
    margin-top: 2px;
    position: absolute;
    width: 160px;
    z-index: 1;
  }
}

.section-wrapper {
  position: relative;
}

#contact {
  background: url('../img/contact-bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 70px 0 0;
  position: relative;
}

.social-buttons {
  li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    width: 20%;

    span {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      display: inline-block;
      padding-bottom: 7px;
      padding-top: 25px;
      -moz-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    &:hover span {
      border-bottom: 1px solid #3c3c3c;
      color: $highlight-color;
      margin-bottom: 6px;
      margin-top: -6px;
    }

    .fa {
      display: inline-block;
      font-size: 48px;
      width: 100%;

      @media (max-width: 767px) {
        font-size: 62px;
      }
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  a {
    color: #3c3c3c !important;
  }
}

.footer-line {
  background: $highlight-color;
  bottom: 0;
  height: 3px;
  position: relative;
  width: 100%;
}

.copyright {
  clear: both;
  line-height: 24px;
  padding: 30px 0;
  position: relative;
}

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9,
.wp10,
.wp11 {
  visibility: hidden;
}

.delay-05s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUp,
.fadeInLeft,
.fadeInRight {
  visibility: visible;
}
